<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tvbrowser.tvbrowsersimplemarkerplugin"
    android:versionCode="6"
    android:versionName="@string/version" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name=".SimpleMarkerPlugin"
            android:label="3"
            android:permission="org.tvbrowser.permission.BIND_PLUGIN"
            android:exported="true">
            <intent-filter>
                <action android:name="org.tvbrowser.intent.action.PLUGIN"/>
                <category android:name="org.tvbrowser.intent.category.SimpleMarkerPlugin"/>
            </intent-filter>
        </service>
    </application>

</manifest>
